<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="ko">
    <meta charset="UTF-8">
    <title>board</title>
</head>
<body ng-app="board">

<div ng-controller="boardController">
    <ul>
        <li ng-repeat="article in article.list" article="article"></li>
    </ul>


    <form ng-controller="formController">
        <input type="text" ng-model="article.head">
        <input type="text" ng-model="article.body">

        <div ng-click="submit()">저장</div>
        <a href="/ng-board/article/abc">asdasd</a>
    </form>

</div>

<div ng-controller="mainController">


    <div ng-view></div>
</div>
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-route/angular-route.min.js"></script>
<script src="js/js.js"></script>
</body>
</html>